body {
  font-family: 'Merriweather Sans', sans-serif;
}

.masthead {
  background-color: #343a40;
  color: white;
  padding: 100px 0;
}

.masthead .btn {
  font-weight: 600;
}

.divider {
  height: 1px;
  background: white;
  margin: 20px auto;
  width: 60px;
}

.card {
  border: none;
  border-radius: 1rem;
}

.card-title {
  font-weight: bold;
}

.btn-outline-primary {
  margin-top: 15px;
}

iframe {
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
}
